
div{
		border: 2px solid;
	    border-radius: 5px;
	    padding: 5px;
	    display: block;
}
.wrapper{display: grid;}
.haus{display: grid;grid-template-columns:3fr 3fr 1fr 1fr;}
.rapper{display: grid;grid-template-columns:3fr 3fr 1fr 1fr;}
.image{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
	}
h1{text-align: center;}
body {
	background-color: grey;
	width: 1000px;
	margin-left: 250px;
	text-align: center;
	}
img{height:55px;width:55px;}
