
div{
		border: 2px dotted blue;
	    border-radius: 7px;
	    padding: 7px;
	    display: block;
}
.wrapper{display: grid;}
.haus{display: grid;grid-template-columns:2fr 2fr 2fr 2fr;}
.rapper{display: grid;grid-template-columns:2fr 2fr 2fr 2fr;}
.image{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
	}
h1{text-align: center;}
body {
	background-color: grey;
	width: 1250px;
	margin-left: 400px;
	text-align: center;
	}
img{height:50px;width:50px;}
